* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../img/background.png");
}

section {
    width: 70%;
    height: 60%;
    margin-left: 15%;
    margin-top: 20%;
    background-color: rgba(165, 0, 81, 0.7);
}

.logo {
    margin-left: 50%;
    transform: translateX(-50%);
    max-width: 70%;
}

a {
    text-decoration: none;
    color: white;
}

#txtsplash {
    font-size: larger;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
    text-align: center;
    color: white;
    border: solid black 1.5px;
    background-color: rgb(81, 165, 0);
}

.wrapper {
    display: grid;
    padding-top: 2rem;
    grid-column: auto;
    row-gap: 3rem;
}

.case1 {
    grid-column: 1;
    grid-row: 1;
}

.case2 {
    grid-column: 1;
    grid-row: 2;
}

.case3 {
    grid-column: 1;
    grid-row: 3;
}

.case4 {
    grid-column: 1;
    grid-row: 4;
}

.case5 {
    grid-column: 1;
    grid-row: 5;
}